
.vs/BilletLibrary/v15/.suo
*.ide-shm
.vs/BilletLibrary/v15/.suo
*.cache
*.props
.vs/BilletLibrary/v15/.suo
.vs/BilletLibrary/v15/Server/sqlite3/storage.ide-shm
BilletLibrary.tests/obj/BilletLibrary.tests.csproj.nuget.cache
BilletLibrary.tests/obj/BilletLibrary.tests.csproj.nuget.g.props
BilletLibrary.tests/obj/Debug/netcoreapp2.0/BilletLibrary.tests.csproj.CoreCompileInputs.cache
BilletLibrary.tests/obj/Debug/netcoreapp2.0/BilletLibrary.tests.csprojAssemblyReference.cache
BilletLibrary.tests/obj/project.assets.json
BilletLibrary/obj/BilletLibrary.csproj.nuget.cache
BilletLibrary/obj/BilletLibrary.csproj.nuget.g.props
BilletLibrary/obj/BilletLibrary.csproj.nuget.g.targets
BilletLibrary/obj/Debug/netstandard2.0/BilletLibrary.csproj.CoreCompileInputs.cache
BilletLibrary/obj/Debug/netstandard2.0/BilletLibrary.csprojAssemblyReference.cache
BilletLibrary/obj/project.assets.json
